[Unit]
Description=Start InkyPi Service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/home/inky/InkyPi/inky_display/bin/activate
ExecStart=/home/inky/InkyPi/inky_display/bin/python /home/inky/InkyPi/InkyPi.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target


