{% extends 'base.html' %}

{% block content %}
    <div class="main_page">
        <div class="page_header floating_element">
            <!-- <img src="/icons/openlogo-75.png" alt="Debian Logo" class="floating_element"/>-->
        <div class="page_title">
            Inky Display Configuration
        </div>
    </div>

    <div class="content_section floating_element">
        <div class="section_header section_header_red">
            <div id="about"></div>
            Current Quote
        </div>
        <div class="image_container">
            <img src="{{ url_for('static', filename= 'img/nightSkytest.png') }}" alt="Test Image" class="image"/>
        </div>
        <div class="section_header">
            <div id="changes"></div>
                File uploads
            </div>
            <div class="content_section_text"></div>
            <h2>Upload book cover</h2>
                <form action="/uploadimg" method="post" enctype="multipart/form-data">
                    <!-- File Input -->
                    <label for="file">Choose a file:</label>
                    <input type="file" name="file">
            
                    <!-- Submit Button -->
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="content_section_text"></div>
            <h2>Upload highlight data</h2>
                <form action="/uploadhighlight" method="post" enctype="multipart/form-data">
                    <!-- File Input -->
                    <label for="file">Choose a file:</label>
                    <input type="file" name="file">
            
                    <!-- Submit Button -->
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
    <div class="validator">
    </div>
{% endblock %}




